/* ===================================================================
 * fonts.scss
 *
 * ------------------------------------------------------------------- */


/*
 * lora
================================================================================ */
@font-face {
    font-family: "lora-regular";
    src: url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/lora-regular-webfont.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/lora-regular-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "lora-italic";
    src: url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/lora-italic-webfont.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/lora-italic-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "lora-bold";
    src: url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/lora-bold-webfont.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/lora-bold-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "lora-bold-italic";
    src: url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/lora-bolditalic-webfont.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/lora-bolditalic-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}


/*
 * montserrat
================================================================================ */
@font-face {
    font-family: "montserrat-black";
    src: url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/montserrat-black-webfont.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/montserrat-black-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-extrabold";
    src: url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/montserrat-extrabold-webfont.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/montserrat-extrabold-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-bold";
    src: url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/montserrat-bold-webfont.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/montserrat-bold-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-semibold";
    src: url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/montserrat-semibold-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-medium";
    src: url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/montserrat-medium-webfont.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/montserrat-medium-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-regular";
    src: url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/montserrat-regular-webfont.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/montserrat-regular-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-light";
    src: url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/montserrat-light-webfont.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/montserrat-light-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-extralight";
    src: url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/montserrat-extralight-webfont.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/montserrat-extralight-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-thin";
    src: url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/montserrat-thin-webfont.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/tyler-horschig/fonts/montserrat-thin-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}


/*# sourceMappingURL=fonts.css.map */